autopep8==1.5.3
entrypoints==0.3
future==0.18.2
gitdb==4.0.5
GitPython==3.1.7
ipaddress==1.0.23
ipython==7.16.1
keyring==21.2.1
keyrings.alt==3.4.0
mock==4.0.2
MirahezeBot-Plugins==8.0.0
pbr==5.4.5
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycrypto==2.6.1
Pygments==2.6.1
PyHamcrest==2.0.2
PyMySQL==0.10.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyRFC3339==1.1
pytest==5.4.3
pyxdg==0.26
requests-toolbelt==0.9.1
rsa==4.6
SecretStorage==3.1.2
service-identity==18.1.0
six==1.15.0
smmap==3.0.4
sopel==7.0.5
sopel-modules.quotes==1.1.0
sopel-modules.twitter==0.3.2
sopel-modules.weather==1.2.2
sopel-modules.youtube==0.3.1
sopel-modules.stocks==1.1.2
toml==0.10.1
traitlets==4.3.3
Twisted==20.3.0
uritemplate==3.0.1
urllib3==1.25.10
vcrpy==4.0.2
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.1.0
