autopep8==1.5.3
entrypoints==0.3
future==0.18.2
gitdb==4.0.5
GitPython==3.1.7
ipaddress==1.0.23
ipython==7.16.1
keyring==21.2.1
keyrings.alt==3.4.0
maxminddb==2.0.2
pytest==6.0.0
pytz==2020.1
pyxdg==0.26
service-identity==18.1.0
sopel==7.0.5
sopel-modules.quotes==1.1.0
sopel-modules.twitter==0.3.2
sopel-modules.weather==1.2.2
sopel-modules.youtube==0.3.1
sopel-modules.stocks==1.1.2
Twisted==20.3.0
uritemplate==3.0.1
vcrpy==4.0.2
