attrs==20.2.0
aiohttp==3.7.1
autopep8==1.5.4
entrypoints==0.3
future==0.18.2
gitdb==4.0.5
GitPython==3.1.11
ipaddress==1.0.23
ipython==7.18.1
keyring==21.4.0
keyrings.alt==4.0.0
mock==4.0.2
multidict==4.7.6
MirahezeBot-Plugins==9.0.2
pipdeptree==1.0.0
pytest==6.1.1
pbr==5.5.1	
pytz==2020.1
pycrypto==2.6.1	
Pygments==2.7.2	
PyMySQL==0.10.1	
pyOpenSSL==19.1.0	
pyRFC3339==1.1	
pyxdg==0.27
service-identity==18.1.0
sopel==7.0.6
sopel-help==0.1.0
sopel-modules.quotes==1.2.1
sopel-modules.twitter==0.3.2
sopel-modules.weather==1.2.2
sopel-modules.youtube==0.3.2
sopel-modules.stocks==1.1.2
Twisted==20.3.0
uritemplate==3.0.1
vcrpy==4.1.1
yarl==1.6.2
